/*

!.gitignore
!.gitignore.

/src/*

!/src/
!/src/classes/
!/src/triggers/
!/src/pages/
!/src/components/
!/src/aura/
!/src/staticresources/

*.page-meta.xml
*.cls-meta.xml
*.trigger-meta.xml
*.component-meta.xml
*.app-meta.xml
*.cmp-meta.xml
*.resource-meta.xml

